# Pandas - Selecionando e agrupando dados

### Aula 1 - Conhecendo os dados

1) Encontre os valores únicos das colunas "Nível 1 - Setor" e "Estado" para identificar as atividades econômicas presentes na base de dados e se todos os Estados do Brasil estão presentes no DataFrame.

In [1]:
import pandas as pd

df = pd.read_excel("1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx", sheet_name= "GEE Estados")

C:\Users\digui\anaconda3\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [2]:
df.head()

         Nível 1 - Setor            Nível 2  ...       2020       2021
0  Processos Industriais  Indústria Química  ...    897.600    897.600
1  Processos Industriais  Indústria Química  ...    130.000    130.000
2  Processos Industriais  Indústria Química  ...   1380.576   1380.576
3  Processos Industriais  Indústria Química  ...    431.430    431.430
4  Processos Industriais  Indústria Química  ...  40300.000  40300.000

[5 rows x 63 columns]

In [3]:
df["Nível 1 - Setor"].unique()

array(['Processos Industriais', 'Agropecuária', 'Energia', 'Resíduos ',
       'Mudança de Uso da Terra e Floresta'], dtype=object)

In [4]:
df["Estado"].unique()

array(['SP', 'BA', 'RJ', 'MG', 'SE', 'PR', nan, 'RO', 'AM', 'PA', 'TO',
       'MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'MT', 'MS', 'GO', 'DF',
       'ES', 'SC', 'RS', 'AC', 'AP', 'RR', 'BR'], dtype=object)

2) Filtre o DataFrame somente com os dados dos Estados da região Sul do Brasil.

In [5]:
df_sul = df[df['Estado'].isin(['SC','RS','PR'])]

df_sul.head()

           Nível 1 - Setor            Nível 2  ...          2020          2021
35   Processos Industriais  Indústria Química  ...  5.151689e+05  5.151689e+05
36   Processos Industriais  Indústria Química  ...  5.151689e+05  5.151689e+05
37   Processos Industriais  Indústria Química  ...  5.151689e+05  5.151689e+05
110  Processos Industriais  Produtos Minerais  ...  2.488650e+06  2.845457e+06
111  Processos Industriais  Produtos Minerais  ...  6.144431e+05  7.179804e+05

[5 rows x 63 columns]

3) Filtre o DataFrame somente com os dados de "Mudança de Uso da Terra e Floresta" que sejam do Estado do Amazonas.

In [6]:
df_amazonas = df[(df['Nível 1 - Setor'] == 'Mudança de Uso da Terra e Floresta') & (df['Estado'] == 'AM')]

df_amazonas.head()

                          Nível 1 - Setor  ...     2021
81262  Mudança de Uso da Terra e Floresta  ...  31867.0
81271  Mudança de Uso da Terra e Floresta  ...  31867.0
81280  Mudança de Uso da Terra e Floresta  ...  31867.0
81289  Mudança de Uso da Terra e Floresta  ...  31867.0
81298  Mudança de Uso da Terra e Floresta  ...  31867.0

[5 rows x 63 columns]

4) Encontre o valor máximo de emissão do ano de 2021 para os dados de "Agropecuária" no Estado do Pará.imo de emissão do ano de 2021 para os dados de "Agropecuária" no Estado do Pará.

In [7]:
df_para_max = df.loc[(df['Nível 1 - Setor'] == 'Agropecuária') & (df['Estado'] == 'PA'), 2021].max()

df_para_max

36856969.7986

### Aula 2 - Agrupamento de dados

1) Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para visualizar o dicionário contendo as chaves de grupos formados e a lista de índices de cada grupo.

In [8]:
grouped = df.groupby("Nível 1 - Setor").groups

group_dict = {setor: list(indices) for setor, indices in grouped.items()}

print(group_dict.keys())

dict_keys(['Agropecuária', 'Energia', 'Mudança de Uso da Terra e Floresta', 'Processos Industriais', 'Resíduos '])

2) Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" e localize os dados do grupo "Agropecuária".

grouped_agropecuaria = df.groupby('Nível 1 - Setor').get_group('Agropecuária')

grouped_agropecuaria.head()

3) Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para identificar a média de emissão de cada atividade econômica no ano de 2021.

In [15]:
df_2021 = df[["Nível 1 - Setor", 2021]]

df_2021_mean = df_2021.groupby("Nível 1 - Setor")[2021].mean().reset_index()

df_2021_mean.columns = ["Nível 1 - Setor", "Média de Emissões 2021"]

df_2021_mean

                      Nível 1 - Setor  Média de Emissões 2021
0                        Agropecuária            53082.725943
1                             Energia            75120.049185
2  Mudança de Uso da Terra e Floresta           196843.405133
3               Processos Industriais           787101.255789
4                           Resíduos            106106.723386

4) Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para identificar a soma de emissão de cada atividade econômica. Ordene os dados da maior para menor emissão.

In [18]:
colunas_info = list(df.loc[:, "Nível 1 - Setor": "Produto"].columns)

colunas_emissao = list(df.loc[:1970:2021].columns)

df_ano_melt = df.melt(id_vars = colunas_info, value_vars = colunas_emissao, var_name = "Ano", value_name = "Emissão")

df_ano_melt.head()

         Nível 1 - Setor            Nível 2  ...   Ano    Emissão
0  Processos Industriais  Indústria Química  ...  1970        0.0
1  Processos Industriais  Indústria Química  ...  1970     6210.0
2  Processos Industriais  Indústria Química  ...  1970      368.0
3  Processos Industriais  Indústria Química  ...  1970      115.0
4  Processos Industriais  Indústria Química  ...  1970  1925100.0

[5 rows x 13 columns]

In [19]:
df_emissao_setor = df_ano_melt.groupby('Nível 1 - Setor')[['Emissão']].sum().sort_values('Emissão', ascending = False)

df_emissao_setor

                                         Emissão
Nível 1 - Setor
Mudança de Uso da Terra e Floresta  2.494463e+11
Energia                             1.244170e+11
Agropecuária                        1.107286e+11
Processos Industriais               2.849965e+10
Resíduos                            1.034465e+10

### Aula 3 - Agrupamentos muti-index

Uma das tarefas passadas pela equipe de supervisão do órgão ambiental era de encontrar a emissão média de cada gás por ano. Conseguimos realizar essa tarefa usando o método groupby() e pivot_table() para gerar uma tabela contendo a emissão ao longo dos anos para cada um dos gases.

A equipe de supervisão deseja saber agora a média de emissão para cada um dos setores econômicos da coluna "Nível 1 - Setor" ao longo dos anos. Como desafio, crie uma tabela de pivô e uma visualização gráfica contendo essas informações, utilizando apenas o método pivot_table para a construção da tabela, sem utilizar o método groupby.

In [35]:
df_setores = df_ano_melt.pivot_table(values = "Emissão", index = "Ano", columns = "Nível 1 - Setor", aggfunc = "mean")

df_setores.head()

Nível 1 - Setor  Agropecuária  ...     Resíduos
Ano                            ...
1970             46246.897891  ...  11684.883558
1971             48036.199926  ...  12676.706849
1972             50202.891428  ...  13709.697850
1973             52065.314764  ...  14715.248028
1974             54319.383750  ...  15710.616150

[5 rows x 5 columns]

1) Faça um agrupamento de dados com as colunas "Estado" e "Nível 1 - Setor", obtendo a soma de emissão e armazenando o resultado em uma tabela.

In [21]:
df_emissoes_estados_setor = df_ano_melt.groupby(['Estado', 'Nível 1 - Setor'])[['Emissão']].sum()

df_emissoes_estados_setor

                                                Emissão
Estado Nível 1 - Setor
AC     Agropecuária                       -3.272006e+08
       Energia                             2.071751e+08
       Mudança de Uso da Terra e Floresta  4.704492e+09
       Resíduos                            2.928323e+07
AL     Agropecuária                        1.215829e+09
...                                                 ...
TO     Agropecuária                        2.789108e+09
       Energia                             5.130379e+08
       Mudança de Uso da Terra e Floresta  6.486598e+09
       Processos Industriais               2.613905e+07
       Resíduos                            6.177003e+07

[133 rows x 1 columns]

2) Utilizando a tabela construída na atividade 1, selecione os dados referentes à "Energia" do índice "Nível 1 - Setor".

In [24]:
df_emissoes_estados_setor.xs('Energia', level = 1)

             Emissão
Estado
AC      2.071751e+08
AL      5.958697e+08
AM      1.916462e+09
AP      2.638059e+08
BA      4.801368e+09
CE      1.879584e+09
DF      9.487860e+08
ES      2.201326e+09
GO      2.761709e+09
MA      1.699005e+09
MG      9.663844e+09
MS      1.593967e+09
MT      2.296983e+09
PA      2.730706e+09
PB      8.358578e+08
PE      2.089593e+09
PI      5.044902e+08
PR      5.502734e+09
RJ      9.151787e+09
RN      9.473144e+08
RO      7.246552e+08
RR      1.672719e+08
RS      5.901596e+09
SC      4.328366e+09
SE      6.627356e+08
SP      2.214979e+10
TO      5.130379e+08

3) Utilizando a tabela construída na atividade 1, encontre a atividade econômica com valor máximo de emissão do Estado de Minas Gerais

In [25]:
df_emissoes_estados_setor.xs('MG', level = 0).idxmax()

Emissão    Agropecuária
dtype: object

4) Obtenha uma tabela contendo a atividade econômica com máxima emissão para cada Estado.

In [29]:
df_emissoes_estados_setor_max = df_emissoes_estados_setor.groupby(['Estado', 'Nível 1 - Setor'])[['Emissão']].sum()

df_emissoes_estados_setor_max.groupby(level = 0).idxmax()

                                         Emissão
Estado
AC      (AC, Mudança de Uso da Terra e Floresta)
AL                            (AL, Agropecuária)
AM                                 (AM, Energia)
AP                                 (AP, Energia)
BA                            (BA, Agropecuária)
BR      (BR, Mudança de Uso da Terra e Floresta)
CE                            (CE, Agropecuária)
DF                                 (DF, Energia)
ES                   (ES, Processos Industriais)
GO                            (GO, Agropecuária)
MA      (MA, Mudança de Uso da Terra e Floresta)
MG                            (MG, Agropecuária)
MS                            (MS, Agropecuária)
MT      (MT, Mudança de Uso da Terra e Floresta)
PA      (PA, Mudança de Uso da Terra e Floresta)
PB                            (PB, Agropecuária)
PE                            (PE, Agropecuária)
PI                            (PI, Agropecuária)
PR                            (PR, Agropecuária)
RJ                                 (RJ, Energia)
RN                                 (RN, Energia)
RO      (RO, Mudança de Uso da Terra e Floresta)
RR                                 (RR, Energia)
RS                            (RS, Agropecuária)
SC                                 (SC, Energia)
SE                            (SE, Agropecuária)
SP                                 (SP, Energia)
TO      (TO, Mudança de Uso da Terra e Floresta)

5) Obtenha uma tabela contendo o Estado com máxima emissão para cada atividade econômica.

In [31]:
df_emissoes_estados_setor_max = df_emissoes_estados_setor.groupby(['Estado', 'Nível 1 - Setor'])[['Emissão']].sum()

df_emissoes_estados_setor_max.groupby(level = 1).idxmax()

                                                                     Emissão
Nível 1 - Setor
Agropecuária                                              (MG, Agropecuária)
Energia                                                        (SP, Energia)
Mudança de Uso da Terra e Floresta  (MT, Mudança de Uso da Terra e Floresta)
Processos Industriais                            (MG, Processos Industriais)
Resíduos                                                     (SP, Resíduos )