# Pandas: transformações e manipulação de dados

### Aula 1 - Entendendo o problema

1. desafio do projeto 1: vendas online será abrir a base de dados com Pandas e aplicar o json_normalize.

In [1]:
import pandas as pd

# Read the file
dados_vendas_clientes = pd.read_json("dados_vendas_clientes.json")

# See the file
dados_vendas_clientes

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [2]:
# Normalize the data
df_vendas_online = pd.json_normalize(dados_vendas_clientes["dados_vendas"])

# Vizualise
df_vendas_online.head()

  Data de venda  ...                               Valor da compra
0    06/06/2022  ...    [R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]
1    07/06/2022  ...  [R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]
2    08/06/2022  ...  [R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]
3    09/06/2022  ...   [R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]
4    10/06/2022  ...  [R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]

[5 rows x 3 columns]

2. desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

In [3]:
# Read the file
dados_locacao_imoveis = pd.read_json("dados_locacao_imoveis.json")

# See the file
dados_locacao_imoveis

                                        dados_locacao
0   {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1   {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2   {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3   {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4   {'apartamento': 'C301 (blocoAP)', 'datas_combi...
5   {'apartamento': 'C302 (blocoAP)', 'datas_combi...
6   {'apartamento': 'D401 (blocoAP)', 'datas_combi...
7   {'apartamento': 'D402 (blocoAP)', 'datas_combi...
8   {'apartamento': 'E501 (blocoAP)', 'datas_combi...
9   {'apartamento': 'E502 (blocoAP)', 'datas_combi...
10  {'apartamento': 'F601 (blocoAP)', 'datas_combi...
11  {'apartamento': 'F602 (blocoAP)', 'datas_combi...
12  {'apartamento': 'G701 (blocoAP)', 'datas_combi...
13  {'apartamento': 'G702 (blocoAP)', 'datas_combi...
14  {'apartamento': 'H801 (blocoAP)', 'datas_combi...

In [4]:
# Normalize the data
df_locacao_imoveis= pd.json_normalize(dados_locacao_imoveis["dados_locacao"])

# Vizualise
df_locacao_imoveis.head()

      apartamento  ...                     valor_aluguel
0  A101 (blocoAP)  ...  [$ 1000,0 reais, $ 2500,0 reais]
1  A102 (blocoAP)  ...  [$ 1100,0 reais, $ 2600,0 reais]
2  B201 (blocoAP)  ...  [$ 1200,0 reais, $ 2700,0 reais]
3  B202 (blocoAP)  ...  [$ 1300,0 reais, $ 2800,0 reais]
4  C301 (blocoAP)  ...  [$ 1400,0 reais, $ 2900,0 reais]

[5 rows x 4 columns]