# Pandas: transformações e manipulação de dados

1. desafio do projeto 1: vendas online será abrir a base de dados com Pandas e aplicar o json_normalize.

In [1]:
import pandas as pd

# Read the file
dados_vendas_clientes = pd.read_json("dados_vendas_clientes.json")

# See the file
dados_vendas_clientes

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [3]:
# Normalize the data
df_vendas_online = pd.json_normalize(dados_vendas_clientes["dados_vendas"])

# Vizualise
df_vendas_online.head()

  Data de venda  ...                               Valor da compra
0    06/06/2022  ...    [R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]
1    07/06/2022  ...  [R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]
2    08/06/2022  ...  [R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]
3    09/06/2022  ...   [R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]
4    10/06/2022  ...  [R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]

[5 rows x 3 columns]

2. desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

In [ ]:
# Read the file
dados_vendas_clientes = pd.read_json("dados_locacao_imoveis.json")

# See the file
dados_vendas_clientes